{% extends 'catalog/main_page.html' %}
{% block content %}
<div class="col-lg-3 col-md-6 col-sm-12 m-3">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" action="" class="form-floating">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2 col-10 mx-auto">
                    {% if object %}
                    <button type="submit" class="btn btn-lg btn-block btn-success">Редактировать</button>
                    <a href="{% url 'blog:post_list' %}" type="submit" class="btn btn-lg btn-block btn-danger mt-1">Отменить</a>
                    {% else %}
                    <button type="submit" class="btn btn-lg btn-block btn-success">Создать</button>
                    <a href="{% url 'blog:post_list' %}" type="submit" class="btn btn-lg btn-block btn-danger mt-1">Отменить</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}