{% extends 'catalog/main_page.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <form method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Подтвердите удаление {{ object.name }}</p>
                        {% csrf_token %}
                    </div>
                    <button type="submit" class="btn btn-primary">Удалить</button>
                    <a class="btn btn-primary" href="{% url 'catalog:main_page' %}" role="button">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}