{% extends 'catalog/main_page.html' %}
{% load my_tags %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {% for product in object_list %}
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            {% if product.image %}
            <img src="{{ product.image.url }}">
            {% else %}
            <p>Изображение не доступно</p>
            {% endif %}
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title" style="font-size: 19px; font-weight: 300;">
                    {{ product.description|truncatewords:100 }}</h1>
                <a class="btn btn-primary" href="{% url 'catalog:product_detail' product.pk %}"
                   role="button">Подробнее</a>
                <a class="btn btn-primary" href="{% url 'catalog:product_update' product.pk %}"
                   role="button">Редактировать</a>
                <a class="btn btn-primary" href="{% url 'catalog:product_delete' product.pk %}"
                   role="button">Удалить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}